@CHARSET "UTF-8";

body { 
    margin-top: 40px;
    text-align: center; 
    background-color: #F2FBFF;
    font-size: 14px; 
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif; 
}

button, select {
    background-color: #F2FBFF;
}

h1, h2, h3, .fc-day-header, .fc-day-number, button, .fc button, select, label {
    color: #014F6D;
}

.fc-unthemed .fc-today, td.fc-today, .fc td.fc-today {
    background-color: #FFFBF1;
}


.form-group {
    width: 40%;
    margin: 10 auto;
}

#habit-type {
    height: 30px;
    width: 40px;
}

#event-details .delete-event, #event-details .edit, #event-details.edit .new {
    display: none;
}

#event-details.edit .delete-event, #event-details .new, #event-details.edit .edit {
    display: block;
}

#active-habit-area {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20%;
}

#summary {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 20%;
}

#summary > div:first-child {
    text-align: center;
}


.fc-event-container > a {
    border-color: white;
    background-color: white;
}

a.fc-habit-L2-0-0 {
    height: 25px;
}

a.fc-habit-L2-1-0 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url("../images/habits/white-horiz-bar-only.svg");
}

a.fc-habit-L2-0-1 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 16px;
    background-image: url("../images/habits/white-horiz-bar-only.svg");
}

a.fc-habit-L2-1-1 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 16px, center;
    background-image: url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-horiz-bar-only.svg");
}

a.fc-habit-X3-0-0-0 {
    height: 36px;
}
a.fc-habit-X3-0-0-1 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../images/habits/white-only.svg");
}
a.fc-habit-X3-0-1-0 {
    height: 36px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/white-x-only.svg");
}
a.fc-habit-X3-0-1-1 {
    height: 36px;
    background-size: auto, 100%;
    background-repeat: no-repeat;
    background-position: right, left;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-x-only.svg");
}
a.fc-habit-X3-1-0-0 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/white-only.svg");
}
a.fc-habit-X3-1-0-1 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left, right;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-only.svg");
}
a.fc-habit-X3-1-1-0 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-x-only.svg");
}
a.fc-habit-X3-1-1-1 {
    height: 36px;
    background-size: auto, auto, 128px 10px, 128px 10px, 100%;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px, left;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-only.svg"), url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-x-only.svg");
}

a.fc-habit-X2-0-0 {
    height: 36px;
}

a.fc-habit-X2-1-0 {
    height: 36px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/white-x-2.svg");
}

a.fc-habit-X2-0-1 {
    height: 36px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/white-x-1.svg");
}

a.fc-habit-X2-1-1 {
    height: 36px;
    background-size: auto, auto, 128px 10px, 128px 10px, 100%;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px, left;;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-only.svg"), url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-x-only.svg");
}

/*
 * BACKGROUND COLORS: (also border, may require eventRender css)
 *
 * L2: background-color: #0A2199;
 * X3: background-color: #00E957;
 * X2: background-color: #08A5E1;
 */

a.fc-day-grid-event {
    margin-top: 7px;
    margin-bottom: 7px;
}

a.fc-selected {
    border-color: #FF2C00;
    border-width: 2px;
}
.fc-event.incomplete {
    opacity: 0.2;
}
a.fc-selected.complete {
    opacity: 1.0;
}
a.fc-selected.incomplete {
    opacity: 0.6;
}
a.fc-event:hover {
    opacity: 0.6;
}

#calendar { 
    float: right;
    width: 900px;
    margin-right: 25%;
}
