@CHARSET "UTF-8";

body { 
    margin-top: 40px;
    text-align: center; 
    font-size: 14px; 
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif; 
}


/*
.dialog label {
	width:90px;
    float:left;
}

.dialog .field {
	width:170px;	
}
    */
.form-group {
    width: 40%;
    margin: 10 auto;
}

#habit-type {
    height: 30px;
    width: 40px;
}

#event-details .delete-event, #event-details .edit, #event-details.edit .new {
    display: none;
}

#event-details.edit .delete-event, #event-details .new, #event-details.edit .edit {
    display: block;
}

#active-habit-area {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20%;
}

#summary {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 20%;
}

#summary > div:first-child {
    text-align: center;
}

/*
 * This is a temporary experiment
 * We need to override the fullcalendar rendering
 * because color is element.style, probably JS triggered.
 * EXCEPT for new events... so perhaps that's only if
 * the color attribute is set.  We may be able to get away
 * with setting CSS to white and leaving color off of the event
 * JSON.
 */

.food-0-0 {
}

.food-0-1 {
}

.food-1-1 {
}

.food-1-x {
}

.food-x-1 {
}

.food-x-x {
}

.food-1-1 {
}

/*
.fc-event-container > a {
    height: 36px;
    background-color: white;
    border-color: white;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 3px, 0px 24px, center;
    background-image: url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg");
}
*/

.fc-event-container > a {
    height: 36px;
    background-color: white;
    border-color: white;
    background-size: auto, auto, 128px 10px, 128px 10px, 100%;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px, left;
    background-image: url("../images/habits/green-only.svg"), url("../images/habits/green-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/green-x-only.svg");
    /*background-image: url("../images/habits/blue-only.svg"), url("../images/habits/blue-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-x-only.svg");*/
}

#calendar { 
    float: right;
    width: 900px;
    margin-right: 25%;
}
