@CHARSET "UTF-8";

body { 
    margin-top: 40px;
    text-align: center; 
    font-size: 14px; 
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif; 
}


/*
.dialog label {
	width:90px;
    float:left;
}

.dialog .field {
	width:170px;	
}
    */
.form-group {
    width: 40%;
    margin: 10 auto;
}

#habit-type {
    height: 30px;
    width: 40px;
}

#event-details .delete-event, #event-details .edit, #event-details.edit .new {
    display: none;
}

#event-details.edit .delete-event, #event-details .new, #event-details.edit .edit {
    display: block;
}

#active-habit-area {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20%;
}

#summary {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 20%;
}

#summary > div:first-child {
    text-align: center;
}

.fc-event-container > a {
    border-color: white;
    background-color: white;
}

a.fc-habit-plan-0-0 {
}

a.fc-habit-plan-1-0 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url("../images/habits/blue-bar-only.svg");
}

a.fc-habit-plan-0-1 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 16px;
    background-image: url("../images/habits/blue-bar-only.svg");
}

a.fc-habit-plan-1-1 {
    height: 25px;
    background-size: 128px 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 16px, center;
    background-image: url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg"), url("../images/habits/blue-bar-only.svg");
}

a.fc-habit-food-0-0-0 {
}
a.fc-habit-food-0-0-1 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../images/habits/green-only.svg");
}
a.fc-habit-food-0-1-0 {
    height: 36px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/green-x-only.svg");
}
a.fc-habit-food-0-1-1 {
    height: 36px;
    background-size: auto, 100%;
    background-repeat: no-repeat;
    background-position: right, left;
    background-image: url("../images/habits/green-only.svg"), url("../images/habits/green-x-only.svg");
}
a.fc-habit-food-1-0-0 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/green-only.svg");
}
a.fc-habit-food-1-0-1 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left, right;
    background-image: url("../images/habits/green-only.svg"), url("../images/habits/green-only.svg");
}
a.fc-habit-food-1-1-0 {
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/habits/green-only.svg"), url("../images/habits/green-x-only.svg");
}
a.fc-habit-food-1-1-1 {
    height: 36px;
    background-size: auto, auto, 128px 10px, 128px 10px, 100%;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px, left;
    background-image: url("../images/habits/green-only.svg"), url("../images/habits/green-only.svg"), url("../images/habits/green-horiz-bar-only.svg"), url("../images/habits/green-horiz-bar-only.svg"), url("../images/habits/green-x-only.svg");
}

a.fc-habit-morning-0-0 {
    height: 36px;
}

a.fc-habit-morning-1-0 {
    height: 36px;
    background-size: auto, auto, 128px 10px, 128px 10px;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px;
    background-image: url("../images/habits/light-blue-only.svg"), url("../images/habits/light-blue-only.svg"), url("../images/habits/light-blue-horiz-bar-only.svg"), url("../images/habits/light-blue-horiz-bar-only.svg");
}

a.fc-habit-morning-0-1 {
    height: 36px;
    background-size: auto, auto, 128px 10px, 128px 10px;
    border-color: #08A5E1;
    background-color: #08A5E1;
    background-repeat: no-repeat;
    background-position: left, right, 0px -3px, 0px 29px;
    background-image: url("../images/habits/white-only.svg"), url("../images/habits/white-only.svg"), url("../images/habits/white-horiz-bar-only.svg"), url("../images/habits/white-horiz-bar-only.svg");
}

a.fc-habit-morning-1-1 {
    height: 36px;
    border-color: #08A5E1;
    background-color: #08A5E1;
}

#calendar { 
    float: right;
    width: 900px;
    margin-right: 25%;
}
